<html>
  <head> <title> CSC 450 Group Project | {% block title %} {% endblock %} </title>

  <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.png">

  <link media="screen, projection" type="text/css" href="{{ MEDIA_URL }}css/main.css" rel="stylesheet" />

  {% block css %}
  {% endblock %}

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/main.js"></script>

  {% block javascript %}
  {% endblock %}

  </head>

  <body>
    <h1><a href="{% url index %}"> CSC 450 Group Project </a></h1>

    {% block content-area %}
    {% endblock %}

  </body>

</html>
