{% extends 'base.html' %}

{% block title %}{{ vehicle.name }}{% endblock %}

{% block css %}
<link media="screen, projection" type="text/css" href="{{ MEDIA_URL }}css/vehicle_detail.css" rel="stylesheet" />
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/vehicle_detail.js"></script>
{% endblock %}

{% block content-area %}
<div class="span-24 last">
  <div id="vehicle-details" class="span-9">
    <div id="vehicle-form" class="span-9 last">
      <h2>{{ vehicle.name }}</h2>
      <h3>{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</h3>
      <p id="edit-vehicle-details"><a href="#" class="button">Edit this vehicle's details</a></p>
      <form id="vehicle-details-form" method="post" action="">
        {% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <p><input type="submit" value="Submit"></p>
      </form>
    </div>
  </div>
  <div class="span-15 last">
    <div id="vehicle-stats" class="span-15 last">
      <div id="average-mileage" class="span-5">
        {% if vehicle.average_mileage %}
        <p class="big-stat"><span class="number">{{ vehicle.average_mileage }}</span>mpg</p>
        {% else %}
        <p class="big-stat"><span class="number">??</span></p>
        {% endif %}
        <p class="caption">Average Mileage</p>
      </div>
      <div id="carbon-footprint" class="span-5">
        {% if vehicle.average_mileage %}
        <p class="big-stat"><span class="number">{{ vehicle.carbon_footprint.0 }}</span>{{ vehicle.carbon_footprint.1 }}</p>
        {% else %}
        <p class="big-stat"><span class="number">??</span></p>
        {% endif %}
        <p class="caption">Carbon Footprint</p>
      </div>
      <div id="" class="span-5 last">
        <p class="big-stat"><span class="number">32</span>px</p>
        <p class="caption">Width of this box</p>
      </div>
    </div>    
    <div id="fillups" class="span-15 last">
      {% if not vehicle.average_mileage %}
      <p class="notice">You must have at least two fillups before mileage and carbon footprint can be calculated.</p>
      {% endif %}
      <h3>Fillups</h3>
      <p><a href="{% url fillup_new pk=vehicle.id %}" class="button">Add a new fillup for this vehicle</a></p>
      {% if vehicle.fillup_set.all %}
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Odometer</th>
            <th>Gallons</th>
          </tr>
        </thead>
        <tbody>
          {% for fillup in vehicle.fillup_set.all %}
          <tr>
            <td>{{ fillup.date }}</td>
            <td>{{ fillup.odometer }}</td>
            <td>{{ fillup.gallons }}</td>
          </tr>
          {% endfor %}
      </table>
      {% else %}
      <p>You haven't entered any fillups for this vehicle yet.</p>
      {% endif %}
    </div>
    <div id="maintenance" class="span-15 last">
      <h3>Maintenance</h3>
      {% for m in vehicle.maintenance_alerts %}
      <p class="error">{{ m.category }} due at {{ m.most_recent_odometer }} miles.</p>
      {% endfor %}
      <p><a href="{% url maintenance_new pk=vehicle.id %}" class="button">Add a new maintenance for this vehicle</a></p>
      {% if vehicle.maintenance_set.all %}
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Odometer</th>
          </tr>
        </thead>
        <tbody>
          {% for maintenance in vehicle.maintenance_set.all %}
          <tr>
            <td>{{ maintenance.date }}</td>
            <td>{{ maintenance.get_category_display }}</td>
            <td>{{ maintenance.odometer }}</td>
          </tr>
          {% endfor %}
      </table>
      {% else %}
      <p>You haven't entered any maintenance for this vehicle yet.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}

