body {
    margin: 0 auto;
    width: 960px;
    background-color: #eee;
}

#main-container {
    position: absolute;
    margin-top: 15px;
    background-color: white;
    border: 2px solid gray;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

h1 a, h1 a:hover, h1 a:focus {
    color: #CD3617;
}

h1 a:hover {
    text-decoration: underline;
}

th {
    text-align: left;
    padding: 0px 8px;
}

#top-menu {
    padding: 0 15px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#top-menu ul {
    list-style-type: none;
}

#vehicle-stats {
    background-color: #eee;
    text-align: center;
    height: 96px;
    margin-bottom: 1.5em;
}

#vehicle-stats .caption {
    margin: 0;
    position: relative;
    top: -10px;
    text-transform: uppercase;
    color: #aaa;
}

.big-stat {
    font-size: 24px;
    color: silver;
    margin-bottom: 0px;
    height: 75px;
}

.big-stat .number {
    color: gray;
    font-size: 56px;
    margin-right: 2px;
}

.big-stat .na {
    color: gray;
    font-size: 12px;
}

.strong {
    font-weight: bold;
}

.big {
    font-size: 110%;
}